.background-container {
    background-image: url('../../../public/home_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    min-width: 1000px;
    min-height: 1000px;
}

.leftrow-container {
    height: 100vh;
    width: 25vw;
    min-width: 250px;
    min-height: 1000px;
}

.rightrow-container {
    height: 100vh;
    width: 75vw;
    min-width: 750px;
    min-height: 1000px;
}



