.background-container {
    background-image: url('../../../public/home_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-width: 1000px;
}

.leftrow-container {
    height: 100%;
    width: 25%;
}

.rightrow-container {
    height: 100%;
    width: 75%;
}

.minWidthNavBar{
    min-width: 1000px;
}