.background-container {
    background-image: url('../../../public/home_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-width: 1000px;
}

.leftrow-container {
    width: 25%;
}

.rightrow-container {
    width: 75%;
}

.minWidthNavBar {
    min-width: 1000px;
}

.unselected-button {
    background-color: rgb(243 244 246);
}

.selected-button {
    background-color: rgb(59 130 246);
}