.background-container {
    background-image: url('../../../public/home_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1000px;
}

.leftrow-container {
    width: 20%;
    min-height: 100vh;
}

.rightrow-container {
    width: 80%;
    min-height: 100vh;
}

.minWidthNavBar {
    min-width: 1000px;
}
