@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.content-container {
    background-image: url('../../public/home_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.leftrow-container {
    height: 100vh;
    width: 25vw;
}

.rightrow-container {
    height: 100vh;
    width: 75vw;
}


@font-face {
    font-family: "burtons";
    src: url('../../public/Burtons.otf');
}